@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
	scroll-behavior: smooth;
}

#header {
	color: #191919;

	/* Centered */
	top: 30%;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Fade in */
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
	-moz-animation: fadeIn linear 3s;
	-o-animation: fadeIn linear 3s;
	-ms-animation: fadeIn linear 3s;
}

/* my name */
#me {
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
}

/* all other text */
#tagline, #blurb {
	font-family: 'Lato', sans-serif;
	font-size: 150%;
}


/* yellow highlight on white background */
#tagline a:hover {
	background-image: linear-gradient(to right, transparent 50%, #e5e391 50%);
}
/* red highlight on black background */
#blurb a:hover {
	background-image: linear-gradient(to right, transparent 50%, #FF0000 50%);
}
/* highlight action */
a:hover {
	background-size: 200%;
	border-radius: 10px;
	animation: 1s highlighter;
	animation-fill-mode: forwards;
}


/* black text on white background */
#tagline a:visited, a:link {
	color: #191919;
}
/* white text on white background */
#blurb a:visited, a:link {
	color: white;
}
/* no underlined links */
a:visited, a:link {
	text-decoration: none;
}


#social_media a:hover img {
	background-color: #e5e391;
}

#social_media img {
	margin: 1em;
	width: 5%;
}

/* paragraphs */
#swe, #research, #journalist {
	left: 0;
	width: 100%;
	height: auto;
  	min-height: 50%;
	text-align: center;
	position: absolute;
}
#swe, #journalist {
	color: white;
	background-color: #191919;
}
#swe {
	top: 60%;
}
#research {
	top: 110%;
	color: #191919;
	background-color: white;
}
#journalist {
	top: 150%;
}
#blurb {
	top: 25%;
	font-size: 150%;
	padding-left: 20%;
	padding-right: 20%;
	line-height: 1.6;
}

/* keywords */
#swe .highlight, #journalist .highlight {
	background-image: linear-gradient(to right, transparent 50%, #FF0000 50%);
}
#research .highlight {
	background-image: linear-gradient(to right, transparent 50%, #e5e391 50%);
}
.highlight {
	background-size: 200%;
	border-radius: 10px;
	animation: 1s highlighter;
	animation-delay: .75s;
	animation-fill-mode: forwards;
}

/* mobile responsiveness */
/*@media only screen and (max-width: 950px) {
	#social_media img {
		width: 7%;
	}
	#blurb {
		top: 5em;
	}
}
@media only screen and (max-width: 600px) {
	#social_media img {
		width: 10%;
	}
	#blurb {
		top: 100em;
	}
	#research {
	  	top: 150%;
	}
	#swe, #research {
	  	min-height: 70%;
	}
}*/

/* Highlighter effects */
@keyframes highlighter {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: -100%;
	}
}

/* Fade in effects */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
