@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
	height: 100%;
}

/*
COLOR PALETTE
#9198e5 // light blue
#6679a0 // dark blue
#e5919a // pink
#a0666c // red
#e5e391 // yellow
#bebebe // gray
#191919 // black
*/
#header {
	top: 35%;
	color: #191919;
	position: fixed; /* or absolute */
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
	-moz-animation: fadeIn linear 3s;
	-o-animation: fadeIn linear 3s;
	-ms-animation: fadeIn linear 3s;
}

#me {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
}
#tagline {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

/* Fade in effects */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
